body {
    line-height: 1.6;
    color: #333;
    outline-width: 80ch;
    max-width: 650px;
    margin: 40px auto;
    font-size: 18px;
    padding: 0;
}
h1, h2, h3 {
    line-height: 1.2;
}
p {
    text-align: justify;
}

button {
    padding: 15px;
    border-radius: 50px 50px;

    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: magenta;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}